
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Type
        </th>
    </tr>

</thead>
<tbody>
    <tr>
        <td>
            @Model.Id
        </td>
        <td>
            @Model.Title
        </td>
        <td>
            @Model.Description
        </td>
        <td>@Model.Type
        </td>
    </tr>
</tbody>
