<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - To_Do_List</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/To_Do_List.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Header content -->
    </header>
    <main>
        <nav class="col-3">
            Navigation
            <partial name="Navigation"></partial>
        </nav>
        <content class="col-9">
            @RenderBody()
        </content>
    </main>
    <footer class="border-top footer text-muted">
        Footer
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
